* {
	margin: 0;
	padding: 0;
	border: 0;
}

header, main, footer {
	min-width: 1420px;
}

header .container, main .container, footer .container {
	max-width: 1420px;
	margin: 0 auto;
}

body {
	font-size: 100%;
	background: #cd5c5cd9;
}

header {
	width: auto;
	height: 150px;
	border-bottom: 3px solid indianred;
	background: lightyellow;
}

h1 {
	height: 100px;
	float: left;
	color: darkred;
	font-family: "Advent Pro", sans-serif;
	font-size: 3.3em; 
  	font-style: italic;
  	font-weight: bold;
  	margin-left: 150px;
  	padding-top: 30px;
  	width: 800px;
  }

h1 span {
	color: indianred;
  	animation: fadeIn 5s forwards;
}

nav {
	font-family: "Advent Pro", sans-serif;
	font-weight: bold;
 	font-style: normal;
	float: right;
	color: black;
	height: 100px;
	margin-top: 30px;
	width: 220px;
}

main {
  	font-family: "Advent Pro", sans-serif;
  	font-style: normal;
	height: 530px;
	background: lightyellow;
}

nav a {
	color: darkred;
}

nav a:hover {
	color: indianred;
}

main .container .tabs, main .container .content {
	width: 1000px;
	padding-top: 30px;
	margin-left: 150px;
}

.tabs a span {
	display: inline-block;
	width: 170px;
	height: 20px;
	background: darkred;
	color: white;
	text-align: center;
	border-radius: 5px;
	padding-top: 5px;
}

.tabs a span.active {
	background: indianred;
}

.tabs a span:hover {
	background: indianred;
}

footer {
  	font-family: "Advent Pro", sans-serif;
	height: 200px;
}

h6 {
	margin-bottom: 20px;
	font-weight: bold;
}
.Contact {
	float: left;
	height: 120px;
	margin-left: 150px;
	margin-top: 60px;
}

.Contact h5 {
	font-weight: bold;
}

.Contact span {
	color: darkred;
	font-weight: bold;
}

.Sitemap {
	margin-top: 60px;
	float: right;
	width: 250px;
	height: 120px;
	position: relative;
	left: -100px;
}
.Sitemap ul {
	columns: 2;
	font-weight: bold;
}

.Sitemap h3 {
	margin-bottom: 20px;
	font-weight: bold;
}

.Sitemap span {
	color: darkred;
	font-weight: bold;
}

.content h4 {
	padding-top: 5px;
	padding-bottom: 5px;
	font-weight: bold;
	color: black;
}

.content h5 {
	padding-bottom: 5px;
	font-weight: bold;
	color: black;
	height: 17.59px;
}

.content p {
	color: black;
	padding-bottom: 5px;
	padding-top: 0px;
}

.content span {
	color: darkred;
	font-weight: bold;
}

span.important {
	color: darkred;
	font-style: italic;
}

.content {
	font-size: 1.1em;
	background: #cd5c5c52;
	border-radius: 10px;
	margin-top: 10px;
	padding-left: 50px;
	padding-bottom: 50px;
	padding-right: 50px; 
	overflow-y: scroll;
	height: 300px;
}

.content > div {
	display: none;
}

.content div .input {
	display: inline-block;	
	margin-top: 40px;
	font-size: 1.3em;
}
.content div ul {
	font-size: 1em;
}

.content  .active {
	display: block;
}
/*
.content .active .esperienze {
	display: block;
}
*/

input {
	background: #cd5c5ca6;
	width: 500px;
	height: 25px;
	border-radius: 10px;
	margin-bottom: 10px;
	padding-left: 8px;
	caret-color: white;
	color: white;
	font-size: 0.8em;
	border: 2px solid darkred;
}

input:focus {
	background: darkred;
}
button {
	border-radius: 10px;
	height: 22px;
	width: 80px;
	font-weight: bold;
	background: indianred;
	cursor: pointer;
	color: white;
	border: 2px solid darkred;
}

button:hover {
	background: darkred;
	border: 2px solid darkred;
}

.esperienze ul li {
	border-bottom: 1px solid darkred;
}

img {
	display: block; /*per non allineare al testo*/
	height: 130px;
	width: 130px;
	float: left;
	margin-top: 10px;
	margin-left: 250px;
	border-radius: 30%;
	border: 2px solid darkred;
  	animation: fadeIn 5s forwards;

}

img:hover {
	border: 2px solid indianred;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}